body {
  margin: 0;
  font-family:'SanFranciscoText-Regular', 'BlinkMacSystemFont' , -apple-system , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
 
}
/* ::-webkit-scrollbar {display:none;} */

/* body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
} */

body::-webkit-scrollbar{
  display: none;
  
}

:root{
  --primary : #ebff00;
  --secondary : #000000;
  --tertiary : #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
