#BigManCon2{
    display: flex;
    flex-direction: column;
    height:100vh;
    // width:100vw;
    justify-content: center;
    margin: 0;
    align-items: center;


    #pi2{
        background-color: var(--primary);
        color: black;
        border: black;
    }
    #winner12{
        position: relative;
        right: 35%;
        background-color: var(--primary);
        color: black;
        border-color: var(--primary);
    }

    #winner2{
        
        color: black;
        border: black;
    }

    .headcon2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100vw;
        // font-size: 1rem;
        justify-content: space-around;
        
        
        .turnu2{
            border-radius: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // height:30%;
            // width:100vw;
            // background-color:var(--primary);
            color:white;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            border: solid 4px white;
            padding: 10px;
            padding: 10px;
    
            p{
                margin: 0;
            }
        }
    }

    .mancalaGrid2 {
        display: grid;
        align-items: center;
        border: solid 4px white;
        grid-gap: 10px;
        padding: 25px;
        margin: 15px;
        // height:70%;
        border-radius: 18px;
        grid-template-areas:
          "store-b pit-1 pit-2 pit-3 pit-4 pit-5 pit-6 store-a"
          "store-b pit-7 pit-8 pit-9 pit-10 pit-11 pit-12 store-a";
        // grid-template-areas:
        //    "store pit pit pit pit pit pit "
        //    "store pit pit pit pit pit pit ";
    

        #pit2-G {
            grid-area: pit-1;
            
        }
        
        #pit2-H {
            grid-area: pit-2;
        }
        
        #pit2-I {
            grid-area: pit-3;
        }
        
        #pit2-J {
            grid-area: pit-4;
        }
        
        #pit2-K {
            grid-area: pit-5;
        }
        
        #pit2-L {
            grid-area: pit-6;
        }
        
        #pit2-A {
            // cursor:pointer;
            grid-area: pit-7;
            
            // &:hover {
            //     background-color:var(--primary);
            //     box-shadow: 6px 0 0 -2px var(--primary);
            // }
        }
        
        #pit2-B {
            // cursor:pointer;
            grid-area: pit-8;
                // &:hover {
                //     background-color:var(--primary);
                //     box-shadow: 6px 0 0 -2px var(--primary);
                // }
        }
        
        #pit2-C {
            // cursor:pointer;
            grid-area: pit-9;
            // &:hover {
            //     background-color:var(--primary);
            //     box-shadow: 6px 0 0 -2px var(--primary);
            // }
        }
        
        #pit2-D {
            // cursor:pointer;
            grid-area: pit-10;
            // &:hover {
            //     background-color:var(--primary);
            //     box-shadow: 6px 0 0 -2px var(--primary);
            // }
        }
        
        #pit2-E {
            // cursor:pointer;
            grid-area: pit-11;
            // &:hover {
            //     background-color:var(--primary);
            //     box-shadow: 6px 0 0 -2px var(--primary);
            // }
            
        }
        
        #pit2-F {
            // cursor:pointer;
            grid-area: pit-12;
            // &:hover {
            //     background-color:var(--primary);
            //     box-shadow: 6px 0 0 -2px var(--primary);
            // }
        }
        
        #M2 {
            grid-area: store-b;
            
        }
        
        #M1{
            grid-area: store-a;
            
        }

        .win22{
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            width:100px; height:224px;
            color: white;
            margin:5px;
            border-radius:18px;
            box-shadow: 6px 0 0 -2px rgb(255, 255, 255);
            // background-color:white;
            border: solid rgb(255, 255, 255);
            
            p{
                position:absolute;
                top:50%;
                width:100%;
                transform:translate(0, -50%);
                text-align:center;
            }
    
            grid-area: store;
        }


        .win2{
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            width:100px; height:224px;
            
            margin:5px;
            border-radius:18px;
            box-shadow: 6px 0 0 -2px var(--primary);
            // background-color:white;
            border: solid black;
            
            p{
                position:absolute;
                top:50%;
                width:100%;
                transform:translate(0, -50%);
                text-align:center;
            }
    
            grid-area: store;
        }

    
        .mancala-store2 {
    
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            width:100px; height:224px;
            
            margin:5px;
            border-radius:18px;
            box-shadow: 6px 0 0 -2px rgb(255, 255, 255);
            // background-color:white;
            border: solid black;
            
            p{
                position:absolute;
                top:50%;
                width:100%;
                transform:translate(0, -50%);
                text-align:center;
            }
    
            grid-area: store;
        
            
            
        }
        
        
        .mancala-pit2{
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            width:100px; height:100px;
         
            margin:5px;
            border-radius:100%;
            // background-color:white;
            box-shadow: 6px 0 0 -2px rgb(255, 255, 255);
            border: solid black;
            transition: 0.3s;
            
            grid-area: pit;
    
            
            p{
                position:absolute;
                top:50%;
                width:100%;
                transform:translate(0, -50%);
                text-align:center;
            }
    
            
            
            
        }


        .mancala-pit2-1{
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            width:100px; height:100px;
            color: rgb(0, 0, 0);
            margin:5px;
            border-radius:100%;
            // background-color:white;
            box-shadow: 6px 0 0 -2px var(--primary);
            border: solid rgb(0, 0, 0);
            transition: 0.3s;
            
            grid-area: pit;
    
            
            p{
                position:absolute;
                top:50%;
                width:100%;
                transform:translate(0, -50%);
                text-align:center;
            }
    
            
            
            
        }


        .mancala-pit2-2{
            background-color:var(--secondary);
            display: flex;
            justify-content: center;
            align-items: center;
            width:100px; height:100px;
            color: white;
            margin:5px;
            border-radius:100%;
            // background-color:white;
            box-shadow: 6px 0 0 -2px white;
            border: solid rgb(248, 246, 246);
            transition: 0.3s;
            
            grid-area: pit;
    
            
            p{
                position:absolute;
                top:50%;
                width:100%;
                transform:translate(0, -50%);
                text-align:center;
            }
    
            
            
            
        }


    
    
      }

    .trig2{
        color:white;
        border: 5px solid white;
        border-radius: 18px;
        padding: 10px;
        cursor:pointer;

        
    }
    .trig2-{
        // color:white;
        // border: 5px solid white;
        // border-radius: 18px;
        // padding: 10px;
        // cursor:pointer;

        
    }

    .trig2:hover{
        background-color:white;
        // box-shadow: 6px 0 0 -2px white;
        color:var(--secondary);
    }



}

