// *{margin:0;}
// .BigContainer{
//     display: flex;
//     justify-content: center;
//     // padding: 100px;
//     // border: solid 1px white;
//     height: 100vh;
//     align-items: center;
//   }
// #game{
// border: solid white 5px;
// border-radius: 18px;
// padding: 2%;
// display: flex;
// align-items: center;  
// height: 50%;
// }

// .pit{
//   width:100px; height:100px;
//   display:inline-block;
//   position:relative;
//   margin:10px;
//   border-radius:100%;
//   background-color:white;
//   box-shadow: 6px 0 0 -2px rgb(255, 255, 255);
//   border: solid black;

//   cursor:pointer;
//   p{
//     position:absolute;
//     top:50%;
//     width:100%;
//     transform:translate(0, -50%);
//     text-align:center;
//   }
// }
// .big{
//   width:100px; height:224px;
//   display:inline-block;
//   position:relative;
//   margin:10px;
//   border-radius:18px;
//   box-shadow: 6px 0 0 -2px rgb(255, 255, 255);
//   background-color:white;
//   border: solid black;
//   p{
//     position:absolute;
//     top:50%;
//     width:100%;
//     transform:translate(0, -50%);
//     text-align:center;
//   }
// }
// .rows{display:inline-block;}
// #left-side, #right-side{display:inline-block;}
// // #left-side{background-color:green;}
// // #right-side{background-color:blue;}
// #left-cont{
// //   background-color:green;
//   display:inline-block;
// }
// #right-cont{
// //   background-color:blue;
//   display:inline-block;
// }