.BigManCon{
    display: flex;
    flex-direction: column;
    height:100vh;
    // width:100vw;
    justify-content: center;
    margin: 0;
    align-items: center;

    .headcon{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100vw;
        // font-size: 1rem;
        justify-content: space-around;
        
        
        .turnu{
            border-radius: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // height:30%;
            // width:100vw;
            // background-color:var(--primary);
            color:white;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            border: solid 4px white;
            padding: 10px;
            padding: 10px;
    
            p{
                margin: 0;
            }
        }
    }

   



.mancalaGrid {
    display: grid;
    align-items: center;
    border: solid 4px white;
    grid-gap: 10px;
    padding: 25px;
    margin: 15px;
    // height:70%;
    border-radius: 18px;
    grid-template-areas:
      "store-b pit-1 pit-2 pit-3 pit-4 pit-5 pit-6 store-a"
      "store-b pit-7 pit-8 pit-9 pit-10 pit-11 pit-12 store-a";
    // grid-template-areas:
    //    "store pit pit pit pit pit pit "
    //    "store pit pit pit pit pit pit ";


    .mancala-store {

        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        width:100px; height:224px;
        
        margin:5px;
        border-radius:18px;
        box-shadow: 6px 0 0 -2px rgb(255, 255, 255);
        background-color:white;
        border: solid black;
        cursor:pointer;
        p{
            position:absolute;
            top:50%;
            width:100%;
            transform:translate(0, -50%);
            text-align:center;
        }

        grid-area: store;
    
        
        
    }
    
    
    .mancala-pit{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        width:100px; height:100px;
     
        margin:5px;
        border-radius:100%;
        background-color:white;
        box-shadow: 6px 0 0 -2px rgb(255, 255, 255);
        border: solid black;
        transition: 0.3s;
        
        grid-area: pit;

        cursor:pointer;
        p{
            position:absolute;
            top:50%;
            width:100%;
            transform:translate(0, -50%);
            text-align:center;
        }

        
        
        
    }



  }
}

#pit-G {
    grid-area: pit-1;
    
}

#pit-H {
    grid-area: pit-2;
}

#pit-I {
    grid-area: pit-3;
}

#pit-J {
    grid-area: pit-4;
}

#pit-K {
    grid-area: pit-5;
}

#pit-L {
    grid-area: pit-6;
}

#pit-A {
    grid-area: pit-7;
    
    &:hover {
        background-color:var(--primary);
        box-shadow: 6px 0 0 -2px var(--primary);
    }
}

#pit-B {
    grid-area: pit-8;
    &:hover {
        background-color:var(--primary);
        box-shadow: 6px 0 0 -2px var(--primary);
    }
}

#pit-C {
    grid-area: pit-9;
    &:hover {
        background-color:var(--primary);
        box-shadow: 6px 0 0 -2px var(--primary);
    }
}

#pit-D {
    grid-area: pit-10;
    &:hover {
        background-color:var(--primary);
        box-shadow: 6px 0 0 -2px var(--primary);
    }
}

#pit-E {
    grid-area: pit-11;
    &:hover {
        background-color:var(--primary);
        box-shadow: 6px 0 0 -2px var(--primary);
    }
    
}

#pit-F {
    grid-area: pit-12;
    &:hover {
        background-color:var(--primary);
        box-shadow: 6px 0 0 -2px var(--primary);
    }
}

#M2 {
    grid-area: store-b;
    
}

#M1{
    grid-area: store-a;
    
}