#conSet2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-end;

    .bigo{
        width: 100vw;
        display: flex;
        // align-items: flex-start;
        // justify-content: center;
        justify-content: space-evenly;
        
        #to{
            color: antiquewhite;
            display: flex;
            align-items: center;

            border-color: white;
            border-style: solid;
            border-width: 5px 5px 0px 5px;
            border-radius: 12px 12px 0px 0px;
            // padding: 1.5rem , 1.5rem , 0.5rem , 1.5rem;
            padding: 1.5rem;
            font-size: 2rem;
            font-weight: 600;
            
            
        }

        #titleSet2{
            // height: 4%;
            font-size: 3rem;
            padding-bottom: 1rem;
            font-weight: 600;
            color: var(--tertiary);
            margin-top: 1rem;
        }
    }

    

    //take full width
    //---------------------------------------------------------------------
    // position:relative;
    // top:0px;
    // right:0px;
    // bottom:0px;
    // left:0px;
    //---------------------------------------------------------------------

    


    .gridSet2{
        display: flex;
        width:80vw;
        height: 70%;
        padding: 0.5rem;
        // margin-top: 1rem;
        // border: solid 5px white;
        
        border-color: white;
        border-style: solid;
        border-width: 5px 5px 0px 5px;
        border-radius: 18px 18px 0px 0px;
        // justify-content: space-between;
        // align-items: flex-end;

        #Settings2{

            
            padding: 1.5rem;
            height: 70%;
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content:  space-around;
            // align-items: center;
            
            
    
            #Settings12{
                

                #heuristic2{
                    background-color: rgb(255, 255, 255);
                    border-radius: 8px;
                    color: black;
                    padding-left: 1.6rem;
                    margin-top: 7rem;
                }
                
            display: flex;
            flex-direction: row;
            justify-content:  center;
            align-items: center;
            // border: solid 1px white;
            height: 8rem;
            
    
            h1{
                padding-left: 1.2rem;
            padding-right: 1.2rem;
            
            // color: black;
            }
    
            color: white;
            font-size: 0.7rem;
            }
    
            .selecto2{
                background-color: rgb(255, 255, 255);
                border-radius: 5PX;
            }
    
            
        }


        

    }

    #start2{
        display: flex;
        flex-direction: row;

        justify-content:  center;
        // align-items: center;
        color: white;
        border-color: white;
        border-style: solid;
        border-width: 5px 5px 5px 5px;
        border-radius: 0px 0px 18px 18px;
        
        cursor:pointer;
        padding-left: 1rem;
        padding-right   : 1rem;
        width: 78.8vw;
         
    }

    #start2:hover{
        background-color: rgb(255, 255, 255);
        color: black;
    }


}